.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px;
  font-size: 15px;
  background-color: #000;
  color: #FFF;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bold;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: rgb(220, 220, 220);
    color: #000;
  }

  &.google-sign-in {
    background-color: #4285F4;
    color: #FFF;

    &:hover {
      background-color: rgb(39, 100, 197);
    }
  }

  &.inverted {
    background-color: #FFF;
    color: #000;
    border: 1px solid #000;

    &:hover {
      background-color: #000;
      color: #FFF;
      border: none;
    }
  }
}