@import '../../variables.scss';

.card-container {
  display: flex;
  flex-direction: column;
  background-color: darken(green, 12%);
  border: 1px solid gray;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}

.card-container h1 {
  margin: 20px 0 0;
}

.card-container h1, p {
  color: lighten($primaryColor, 38%);
}